.TradeGothicLTPro-Cn18 { 
  font-family: TradeGothicLTPro-Cn18;
  font-weight: normal;
  font-style: normal;
}
.TradeGothicLTPro-BdCn20 { 
  font-family: TradeGothicLTPro-BdCn20;
  font-weight: normal;
  font-style: normal;
}

body{
  font-family: 'TradeGothicLTPro-BdCn18'; 
}

h4, h5, a, button, span, label, .dropdown-header{
  font-family: 'TradeGothicLTPro-Cn18';
}

.navbar a, .navbar label{
  font-family: 'HelveticaNeueLT-Medium';
}

input, p, textarea, .popover-content{
  font-family: 'HelveticaNeueLTStd-Roman';
}

h4 span{
  float: right;
}

h1 span{
  font-size: 25px;
}

span{
  font-size: 15px;
}

h4{
  font-size: 20px;
  margin-bottom: 0px;

}

h1{
  font-family: 'TradeGothicLTPro-BdCn20';
}

.background-container{
  background-color: #EEE;
  padding-right: 60px;
  padding-left: 60px;
}

.roster-header{
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}

.add-btn-group{
  margin-top: 20px;
}

.search-athletes{
  padding-top: 15px;
  paddint-bottom: 15px;
}

.form-group{
  margin-bottom: 0px;
  padding-top: 8px;
  color: #FFF;
}

.checkbox{
  padding: 5px;
  color: #FFF;
}

.player-info, .player-stats{
  display: inline-block;
}

ul{
  list-style-type: none;
}

.player-stats {
  color: #FFF;
  vertical-align: middle;
}

.player-stats  p{
  padding: 1px 28px;
  font-size: 45px;
  font-family: ;
  font-family:'bebas_neueregular';
}

.player-stats.sr{
  background-color: #FF6600;
}

.player-stats.jr{
  background-color: #4646B4;
}

.player-stats.so{
  background-color: #46B446;
}

.player-stats.fr{
  background-color: #6B6B6B;
}

.header-detail, .roster-btngrp{
  display: inline-block;
}

.roster-btngrp{
  position: absolute;
  top: 0;
  right: 0;
}

.roster li{
  background-color: #eee;
}

.item{
   margin-bottom: 50px;
}

.player-btn .btn{
   background-color: #eee;
}

.grid-group-item .player-btn .btn-group{
   margin: 10px 0;
}

.player-detail{
   display:none;
}

label{
  color: #000;
}

img{
  width: 100%;
}

.grade-dropdown button{
  display:block;
}

.search-bar{
  position: absolute;
  bottom: 0;
  right: 0;
}

h1{
   margin-top: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

.player-view{
   margin-top: 10px;
}

.row{
   margin-right: 0px;
   margin-left: 0px;
}

#grid.btn-default:hover, #grid.btn-default, #list.btn-default:hover, #list.btn-default{
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-default{
  background-color: #eee;
  border-color: #ccc;
}

.player-layout-btn .col-md-3{
  float:right;
}

.submit-btn-grp{
  margin-top:  15px;
}

.panel-default > .panel-heading{
  background-color: #f88336;
  color: #fff;
}


.panel-default > .panel-heading + .panel-collapse > .panel-body {
  background-color: #eee;
}

.nav-label{
  margin-top: 15px;
  color: #fff;
  font-weight: normal;
}

.checkbox label{
  color: #fff;
}

.list-group-item .profile-layout-grade, 
.list-group-item .profile-layout-position, 
.list-group-item .profile-layout-phone, 
.list-group-item .profile-layout-email, 
.list-group-item .profile-layout-video{
  line-height: 42px;
}

.list-group-item .profile-layout-btn{
  margin-top: 5px;
}

.position-label{
  background-color: transparent;
  padding: 5px;
  font-weight: bold;
  font-size: 18px;
}

.jr-label{
  color: purple;
}

.fr-label{
  color: blue;
}

.so-label{
  color: orange;
}

.sr-label{
  color: red;
}

.name-container{
  background-color: #f88336;
}

.roster-header input{
  margin-top:8px;
}

.popover{
  background-color: #000;
  color: #FFF;
}

.popover.bottom > .arrow:after {
  border-bottom-color: #000;
}